<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Montserrat"/>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css"/>
    <link rel="stylesheet" href="~/Content/font-awesome.min.css"/>

    <!--Slick Image Plugin-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <link rel="stylesheet" href="~/Content/Slick/slick-theme.css" />

</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
